.header,
.side-col,
.content-header .content-buttons-placeholder,
.gfx-button,
.footer,
.noprint,
.content-header,
#order_history_block {
    display:none !important;
}
.printnostrong {
    font-weight:normal;
}
.emph, .accent {
    color:#000 !important;
    font-weight:bold;
    font-size:1.2em;
}
.columns {
    background:none !important;
}
.columns .main-col {
    margin-left:0 !important;
    padding-left:0 !important;
}
.columns .main-col .main-col-inner {
    float:none;
}
.entry-edit .entry-edit-head {
    background:transparent none;
}
.entry-edit .entry-edit-head h4 {
    color:#000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
}
.entry-edit fieldset, .entry-edit .fieldset {
    background:transparent none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    line-height:120%;
}
.entry-edit fieldset, .entry-edit .fieldset a {
    color:#000;
}
.order-tables td {
    color:#000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:120%;
    vertical-align:middle;
}
.order-tables td.giftmessage-single-item {
    font-size:18px;
}
.order-totals {
    background-color:#f2f2f2;
    border:1px solid #d6d6d6 !important;
}
.order-totals table td {
    padding-top:0;
    padding-bottom:0;
    olor:#000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:120%;
    vertical-align:middle;
}