<?xml version="1.0"?>
<config>
    <modules>
        <Mage_CheckoutNotice>
            <version>0.1.0</version>
        </Mage_CheckoutNotice>
    </modules>
    <global>
        <models>
            <checkoutNotice>
                <class>Mage_CheckoutNotice_Model</class>
            </checkoutNotice>
        </models>
        <blocks>
            <checkoutNotice>
                <class>Mage_CheckoutNotice_Block</class>
            </checkoutNotice>
        </blocks>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <checkoutNotice>
                        <type>singleton</type>
                        <class>checkoutNotice/observer</class>
                        <method>checkout_type_onepage_save_order</method>
                    </checkoutNotice>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </global>
    <frontend>
        <routers>
            <mage_checkoutNotice>
                <use>standard</use>
                <args>
                    <module>Mage_CheckoutNotice</module>
                    <frontName>checkoutNotice</frontName>
                </args>
            </mage_checkoutNotice>
        </routers>
        <translate>
            <modules>
                <Mage_CheckoutNotice>
                    <files>
                        <default>Mage_CheckoutNotice.csv</default>
                    </files>
                </Mage_CheckoutNotice>
            </modules>
        </translate>
    </frontend>
</config>