<?xml version="1.0"?>
<config>
	<modules>
		<Bufu_Shipping>
			<version>0.3.0</version>
		</Bufu_Shipping>
	</modules>
	<global>
		<blocks>
				<bufu_shipping>
						<class>Bufu_Shipping_Block</class>
				</bufu_shipping>
		</blocks>
		<models>
			<shipping>
				<rewrite>
					<carrier_tablerate>Bufu_Shipping_Model_Carrier_Tablerate</carrier_tablerate>
				</rewrite>
			</shipping>
		</models>
	</global>
	<frontend>
		<events>
			<checkout_cart_save_before>
					<observers>
							<bufu_set_default_shipping_method>
									<type>singleton</type>
									<class>Bufu_Shipping_Model_Observer</class>
									<method>checkout_cart_save_before</method>
							</bufu_set_default_shipping_method>
					</observers>
			</checkout_cart_save_before>
		</events>
	</frontend>
	<default>
		<carriers>
			<tablerate>
				<bufu_tickets_price>4.95</bufu_tickets_price>
				<bufu_tickets_shipping_label>Ticketversand (versichert)</bufu_tickets_shipping_label>
			</tablerate>
		</carriers>
	</default>
</config>
