<?xml version="1.0"?>
<config>
	<modules>
		<Bufu_Shipping>
			<version>0.2.0</version>
		</Bufu_Shipping>
	</modules>
	<global>
		<models>
			<shipping>
				<rewrite>
					<carrier_tablerate>Bufu_Shipping_Model_Carrier_Tablerate</carrier_tablerate>
				</rewrite>
			</shipping>
		</models>
	</global>
	<default>
		<carriers>
			<tablerate>
				<bufu_tickets_price>4.95</bufu_tickets_price>
				<bufu_tickets_shipping_label>Ticketversand (versichert)</bufu_tickets_shipping_label>
			</tablerate>
		</carriers>
	</default>
</config>
