<?xml version="1.0"?>
<!--
/**
 * @category Symmetrics
 * @package Symmetrics_LegitimateGerman
 * @author symmetrics gmbh <info@symmetrics.de>, Eugen Gitin <eg@symmetrics.de>
 * @copyright symmetrics gmbh
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software 
 */
-->
<config>
	<modules>
		<Symmetrics_LegitimateGerman>
			<version>0.2.3</version>
		</Symmetrics_LegitimateGerman>
	</modules>
	<frontend>
		<layout>
			<updates>
				<legitimategerman>
					<file>legitimategerman.xml</file>
				</legitimategerman>
			</updates>
		</layout>
	</frontend>
</config>