<?xml version="1.0"?>
<config>
    <modules>
        <Bufu_Tickets>
            <version>0.3.1</version>
        </Bufu_Tickets>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <quote_item>Bufu_Tickets_Model_Quote_Item</quote_item>
                </rewrite>
            </sales>
            <bufu_tickets>
                <class>Bufu_Tickets_Model</class>
                <resourceModel>bufu_tickets_mysql4</resourceModel>
            </bufu_tickets>
            <bufu_tickets_mysql4>
                <class>Bufu_Tickets_Model_Mysql4</class>
                <entities>
                    <event>
                        <table>bufu_tickets_events</table>
                    </event>
                </entities>
            </bufu_tickets_mysql4>
        </models>
        <blocks>
            <bufu_tickets>
                <class>Bufu_Tickets_Block</class>
            </bufu_tickets>
        </blocks>
        <helpers>
            <bufu_tickets>
                <class>Bufu_Tickets_Helper</class>
            </bufu_tickets>
        </helpers>
        <resources>
            <bufu_tickets_setup>
                <setup>
                    <module>Bufu_Tickets</module>
                    <class>Bufu_Tickets_Model_Mysql4_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bufu_tickets_setup>
            <bufu_tickets_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bufu_tickets_write>
            <bufu_tickets_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bufu_tickets_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bufu_tickets>
                    <file>bufu_tickets.xml</file>
                </bufu_tickets>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bufu_Tickets>
                    <files>
                        <default>Bufu_Tickets.csv</default>
                    </files>
                </Bufu_Tickets>
            </modules>
        </translate>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <bufu_tickets_observer>
                        <class>bufu_tickets/observer</class>
                        <method>catalog_product_prepare_save</method>
                    </bufu_tickets_observer>
                </observers>
            </catalog_product_prepare_save>
        </events>
        <acl>
          <resources>
            <admin>
              <children>
                <system>
                  <children>
                    <config>
                      <children>
                        <bufu_tickets>
                          <title>Bufu_Tickets Configuration</title>
                        </bufu_tickets>
                      </children>
                    </config>
                  </children>
                </system>
              </children>
            </admin>
          </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <bufu_tickets module="Bufu_Tickets">
                    <file>bufu_tickets.xml</file>
                </bufu_tickets>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bufu_Tickets>
                    <files>
                        <default>Bufu_Tickets.csv</default>
                    </files>
                </Bufu_Tickets>
            </modules>
        </translate>
        <routers>
            <bufu_tickets>
                <use>standard</use>
                <args>
                    <module>Bufu_Tickets</module>
                    <frontName>bufu_tickets</frontName>
                </args>
            </bufu_tickets>
        </routers>
        <events>
            <sales_order_place_after>
                <observers>
                    <bufu_tickets_track_qty>
                        <type>singleton</type>
                        <class>Bufu_Tickets_Model_Observer</class>
                        <method>sales_order_place_after</method>
                    </bufu_tickets_track_qty>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <default>
        <bufu_tickets>
            <settings>
                <track_qty>1</track_qty>
                <threshold_someleft>10</threshold_someleft>
                <threshold_soldout>0</threshold_soldout>
            </settings>
        </bufu_tickets>
    </default>
</config>
