<?xml version="1.0"?>
<!--
/**
 * Symmetrics_DefaultAddressSelection
 *
 * @category Symmetrics
 * @package Symmetrics_DefaultAddressSelection
 * @author symmetrics gmbh <info@symmetrics.de>, Siegfried Schmitz <sb@symmetrics.de>
 * @copyright symmetrics gmbh
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Symmetrics_DefaultAddressSelection>
            <version>0.1.2</version>
        </Symmetrics_DefaultAddressSelection>
    </modules>
    <frontend>
		<layout>
			<updates>
				<defaultaddressselection>
					<file>defaultaddressselection.xml</file>
				</defaultaddressselection>
			</updates>
		</layout>
    </frontend>   
</config>
