<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Orderarchive
 */
-->
<config>
    <modules>
        <Amasty_Orderarchive>
            <version>1.0.7</version>
        </Amasty_Orderarchive>
    </modules>
    <global>
        <models>
            <amorderarchive>
                <class>Amasty_Orderarchive_Model</class>
                <resourceModel>amorderarchive_resource</resourceModel>
            </amorderarchive>
            <amorderarchive_resource>
                <class>Amasty_Orderarchive_Model_Resource</class>
                <entities>
                    <order_archive_grid>
                        <table>amasty_orderachive_sales_flat_order_grid_archive</table>
                    </order_archive_grid>
                    <shipment_archive_grid>
                        <table>amasty_orderachive_sales_flat_shipment_grid_archive</table>
                    </shipment_archive_grid>
                    <invoice_archive_grid>
                        <table>amasty_orderachive_sales_flat_invoice_grid_archive</table>
                    </invoice_archive_grid>
                    <creditmemo_archive_grid>
                        <table>amasty_orderachive_sales_flat_creditmemo_grid_archive</table>
                    </creditmemo_archive_grid>
                </entities>
            </amorderarchive_resource>
        </models>
        <blocks>
            <amorderarchive>
                <class>Amasty_Orderarchive_Block</class>
            </amorderarchive>
        </blocks>
        <helpers>
            <amorderarchive>
                <class>Amasty_Orderarchive_Helper</class>
            </amorderarchive>
        </helpers>
        <resources>
            <amorderarchive_setup>
                <setup>
                    <module>Amasty_Orderarchive</module>
                </setup>
            </amorderarchive_setup>
        </resources>
        <template>
            <email>
                <amorderarchive_email_template>
                    <label>Notify After Archiving is Complete</label>
                    <file>amorderarchive_archiving_complete_email.html</file>
                    <type>html</type>
                </amorderarchive_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <events>
            <sales_order_collection_load_before>
                <observers>
                    <amorderarchive>
                        <type>sigleton</type>
                        <class>amorderarchive/observer</class>
                        <method>amorderarchiveFilterArchivedOrders</method>
                    </amorderarchive>
                </observers>
            </sales_order_collection_load_before>
            <sales_order_load_after>
                <observers>
                    <amorderarchive>
                        <type>sigleton</type>
                        <class>amorderarchive/observer</class>
                        <method>amorderarchiveFilterArchivedOrderModel</method>
                    </amorderarchive>
                </observers>
            </sales_order_load_after>
        </events>
        <translate>
            <modules>
                <Amasty_Orderarchive>
                    <files>
                        <default>Amasty_Orderarchive.csv</default>
                    </files>
                </Amasty_Orderarchive>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <amorderarchive before="Mage_Adminhtml">Amasty_Orderarchive_Adminhtml</amorderarchive>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <amorderarchive>
                    <file>amasty/amorderarchive/amorderarchive.xml</file>
                </amorderarchive>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <amorderarchive>
                        <type>singleton</type>
                        <class>amorderarchive/observer</class>
                        <method>coreBlockAbstractPrepareLayoutBefore</method>
                    </amorderarchive>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <amorderarchive_order_archived_after>
                <observers>
                    <amorderarchive>
                        <type>singleton</type>
                        <class>amorderarchive/observer</class>
                        <method>amorderarchiveOrderArchivedAfter</method>
                        <args>array</args>
                    </amorderarchive>
                </observers>
            </amorderarchive_order_archived_after>
        </events>
        <translate>
            <modules>
                <Amasty_Orderarchive>
                    <files>
                        <default>Amasty_Orderarchive.csv</default>
                    </files>
                </Amasty_Orderarchive>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <amorderarchive>
            <general>
                <turnedon>0</turnedon>
                <day_ago>365</day_ago>
                <status>complete</status>
                <frequency>D</frequency>
                <enable_massfilter>1</enable_massfilter>
                <hide_archive_in_frontend>0</hide_archive_in_frontend>
            </general>
            <email>
                <turnedon>0</turnedon>
                <template>amorderarchive_email_template</template>
                <recipient>example@example.com</recipient>
            </email>

        </amorderarchive>
    </default>
    <crontab>
        <jobs>
            <amorderarchive_archiving>
                <run>
                    <model>amorderarchive/observer::amorderarchiveArchiving</model>
                </run>
            </amorderarchive_archiving>
        </jobs>
    </crontab>
</config>
