<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Orderarchive
 */
-->
<config>
    <sections>
        <amorderarchive translate="label" module="amorderarchive">
            <label>Archive Orders</label>
            <tab>amasty</tab>
            <frontend_type>text</frontend_type>
            <sort_order>11815</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label translate="label">General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <turnedon translate="label">
                            <label>Enable Orders Archive</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </turnedon>
                        <day_ago translate="label comment">
                            <label>Archive Orders Older Than</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Days</comment>
                        </day_ago>
                        <status translate="label">
                            <label>Order Status To Apply To</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>amorderarchive/backend_source_status</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </status>
                        <frequency translate="label">
                            <label>Archive Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>amorderarchive/backend_source_frequency</source_model>
                            <backend_model>amorderarchive/backend_config_cron</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </frequency>
                        <enable_massfilter translate="label comment">
                            <label>Apply Mass Actions To All Orders</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>If set to 'no' only orders meeting the conditions will be archived.</comment>
                        </enable_massfilter>
                        <hide_archive_in_frontend translate="label">
                            <label>Hide Archived Orders on Frontend</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </hide_archive_in_frontend>
                    </fields>
                </general>
                <email translate="label">
                    <label>Email Notifications</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <turnedon translate="label">
                            <label>Notify After Archiving is Complete</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </turnedon>
                        <template translate="label">
                            <label>E-mail Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </template>
                        <recipient translate="label">
                            <label>Send To E-mail Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </recipient>
                    </fields>
                </email>
                <process translate="label">
                    <label>Force Cron Job Actions</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <generate translate="label">
                            <label>Start Archiving</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>amorderarchive/adminhtml_ajaxArchiving</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </generate>
                    </fields>
                </process>
            </groups>
        </amorderarchive>
    </sections>
</config>
