<?xml version="1.0"?>
<config>
    <modules>
        <Bufu_Catalog>
            <version>0.1.0</version>
        </Bufu_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <class>
                    <orderable_switch>Bufu_Catalog_Block_Orderable_Switch</orderable_switch>
                </class>
                <rewrite>
                    <product_view>Bufu_Catalog_Block_Product_View</product_view>
                    <product_list>Bufu_Catalog_Block_Product_List</product_list>
                </rewrite>
            </catalog>
            <bufu_catalog>
                <class>Bufu_Catalog_Block</class>
            </bufu_catalog>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <product>Bufu_Catalog_Model_Product</product>
                    <layer>Bufu_Catalog_Model_Layer</layer>
                </rewrite>
            </catalog>
        </models>
    </global>
    <frontend>
        <routers>
            <bcatalog>
                <use>standard</use>
                <args>
                    <module>Bufu_Catalog</module>
                    <frontName>orderable</frontName>
                </args>
            </bcatalog>
        </routers>
    </frontend>
</config>