<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Bufu_Adminhtml>
            <version>0.1.1</version>
        </Bufu_Adminhtml>
    </modules>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>buschfunk</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>