<?xml version="1.0"?>
<!--
/**
 * @category Symmetrics
 * @package Symmetrics_DisplayTaxInfo
 * @author symmetrics gmbh <info@symmetrics.de>, Eugen Gitin <eg@symmetrics.de>, Sergej Braznikov <sb@symmetrics.de>
 * @copyright symmetrics gmbh
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<modules>
		<Symmetrics_DisplayTaxInfo>
			<version>0.1.6</version>
		</Symmetrics_DisplayTaxInfo>
	</modules>
	<global>
        <models>
            <displaytaxinfo>
                <class>Symmetrics_DisplayTaxInfo_Model</class>
            </displaytaxinfo>
        </models>
		<blocks>
   			<displaytaxinfo>
                <class>Symmetrics_DisplayTaxInfo_Block</class>
			</displaytaxinfo>
		</blocks>
        <helpers>
            <displaytaxinfo>
                <class>Symmetrics_DisplayTaxInfo_Helper</class>
            </displaytaxinfo>
        </helpers>
	</global>
    <frontend>
        <translate>
            <modules>
                <Symmetrics_DisplayTaxInfo>
                    <files>
                        <default>Symmetrics_DisplayTaxInfo.csv</default>
                    </files>
                </Symmetrics_DisplayTaxInfo>
            </modules>
        </translate>
    </frontend>
</config>