<?xml version="1.0"?>
<!--
/**
 * @category Symmetrics
 * @package Symmetrics_InvoicePdf
 * @author symmetrics gmbh <info@symmetrics.de>, Eugen Gitin <eg@symmetrics.de>
 * @copyright symmetrics gmbh
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
	<modules>
		<Symmetrics_InvoicePdf>
			<version>0.1.12</version>
		</Symmetrics_InvoicePdf>
	</modules>
	<adminhtml>
		<translate>
			<modules>
				<Symmetrics_InvoicePdf>
					<files>
						<default>Symmetrics_InvoicePdf.csv</default>
					</files>
				</Symmetrics_InvoicePdf>
			</modules>
		</translate>
	</adminhtml>
	<global>
        <pdf>
            <totals>
                <tax>
                    <sort_order>550</sort_order>
                </tax>
                <grand_total>
                    <font_size>12</font_size>
                    <font_weight>bold</font_weight>
                </grand_total>
            </totals>
        </pdf>
		<models>
            <bundle>
                <rewrite>
                    <sales_order_pdf_items_invoice>Symmetrics_InvoicePdf_Model_Pdf_Items_Bundle_Invoice</sales_order_pdf_items_invoice>
                </rewrite>
            </bundle>
			<sales>
				<rewrite>
					<order_pdf_invoice>Symmetrics_InvoicePdf_Model_Pdf_Invoice</order_pdf_invoice>
					<order_pdf_items_invoice_default>Symmetrics_InvoicePdf_Model_Pdf_Items_Default</order_pdf_items_invoice_default>
					<order_pdf_items_invoice_grouped>Symmetrics_InvoicePdf_Model_Pdf_Items_Grouped</order_pdf_items_invoice_grouped>
					<order_pdf_creditmemo>Symmetrics_InvoicePdf_Model_Pdf_Creditmemo</order_pdf_creditmemo>
					<order_pdf_items_creditmemo_default>Symmetrics_InvoicePdf_Model_Pdf_Items_Default</order_pdf_items_creditmemo_default>
				</rewrite>
			</sales>
            <invoicepdf>
                <class>Symmetrics_InvoicePdf_Model</class>
            </invoicepdf>
		</models>
		<customer>
			<address>
				<formats>
					<pdf translate="title" module="customer">
						<title>PDF</title>
						<defaultFormat><![CDATA[
{{depend company}}{{var company}}|{{/depend}}
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{var street1}}|
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{var postcode}} {{depend city}}{{var city}}{{/depend}}|
{{var country}}|
						]]></defaultFormat>
					</pdf>
				</formats>
			</address>
		</customer>
		<helpers>
			<invoicepdf>
				<class>Symmetrics_InvoicePdf_Helper</class>
			</invoicepdf>
		</helpers>
        <resources>
            <invoicepdf_setup>
                <setup>
                    <module>Symmetrics_InvoicePdf</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </invoicepdf_setup>
            <invoicepdf_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </invoicepdf_write>
            <invoicepdf_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </invoicepdf_read>
        </resources>
	</global>
	<default>
        <sales_pdf>
            <invoice>
                <showfooter>1</showfooter>
            </invoice>
        </sales_pdf>
        <sales>
            <identity>
                <logoposition>left</logoposition>
            </identity>
        </sales>
	</default>
</config>