<?xml version="1.0"?>
<config>
	<modules>
		<BoutikCircus_DeleteOrders>
			<active>true</active>
			<codePool>community</codePool>
		</BoutikCircus_DeleteOrders>
	</modules>
	<global>
		<blocks>
			<adminhtml>
				<rewrite>
					<sales_order_grid>BoutikCircus_DeleteOrders_Block_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<deleteorders>
				<rewrite>
					<order>BoutikCircus_DeleteOrders_Model_Order</order>
				</rewrite>
			</deleteorders>
		</models>
		<rewrite>
			<boutikcircus_deleteorders_adminhtml_sales_order>
				<from><![CDATA[#^/.*/sales_order/deleteorders/.*#]]></from>
				<to>/deleteorders/</to>
			</boutikcircus_deleteorders_adminhtml_sales_order>
		</rewrite>
	</global>
	<admin>
		<routers>
			<boutikcircus_deleteorders>
				<use>admin</use>
				<args>
					<module>BoutikCircus_DeleteOrders</module>
					<frontName>deleteorders</frontName>
				</args>
			</boutikcircus_deleteorders>
		</routers>
	</admin>
</config>
