<?xml version="1.0"?>
<!-- 
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @package    Mage_Debit
 * @copyright  Copyright (c) 2009 ITABS GbR - Rouven Alexander Rieker
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->

<config>
    <global>
        <models>
            <debit>
                <class>Mage_Debit_Model</class>
            </debit>
        </models>

        <resources>
            <debit_setup>
                <setup>
                    <module>Mage_Debit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </debit_setup>
            <debit_write>
                <use>core_write</use>
            </debit_write>
            <debit_read>
                <use>core_read</use>
            </debit_read>
        </resources>
    </global>

    <default>
        <payment>
            <debit>
                <active>0</active>
                <model>debit/debit</model>
                <sendmail>0</sendmail>
                <sendmail_crypt>1</sendmail_crypt>
                <order_status>1</order_status>
                <title>Debit Payment</title>
                <allowspecific>0</allowspecific>
            </debit>
         </payment>
    </default>

    <adminhtml>       
        <translate>
            <modules>
                <Mage_Debit>
                    <files>
                        <default>Mage_Debit.csv</default>
                    </files>
                </Mage_Debit>
            </modules>
        </translate>
    </adminhtml>
 
    <frontend>       
        <translate>
            <modules>
                <Mage_Debit>
                    <files>
                        <default>Mage_Debit.csv</default>
                    </files>
                </Mage_Debit>
            </modules>
        </translate>        
    </frontend> 
</config>
