<h1>DISCLAIMER</h1>

<p>Die hier bereitgestellten Mustertexte sind ausdrücklich als 
<strong>MUSTER</strong> zu verstehen und müssen in jedem Fall durch 
eigene rechtssichere Texte unter CMS -> Statische Blöcke ersetzt 
werden. Weder symmetrics gmbh noch Trusted Shops tragen für die 
Richtigkeit und Vollständigkeit dieser Texte eine Verantwortung.</p>

<h2>Versandkosten / Lieferung</h2>

<p>Die Versandkosten sind teilweise abhängig von der gewählten Zahlungsart.</p>

<table>
<tr>
    <th></th>
    <th>Deutschland</th>
    <th>Europa</th>
</tr>
<tr>
    <td>Vorkasse</td>
    <td>0,00 EUR</td>
    <td>14,99 EUR</td>
</tr>
<tr>
    <td>Nachnahme, Sofortüberweisung</td>
    <td>9,98 EUR</td>
    <td>29,99 EUR</td>
</tr>
<tr>
    <td>Kreditkarte, Rechnung</td>
    <td>14,99 EUR</td>
    <td>29,99 EUR</td>
</tr>
<tr>
    <td colspan="3"></td>
</tr>
<tr>
    <td>Express</td>
    <td>35,00 EUR</td>
    <td>49,99 EUR</td>
</tr>
<tr>
    <td>Express 12.00 Uhr Samstagszustellung</td>
    <td>40,00 EUR</td>
    <td>--,-- EUR</td>
</tr>
</table>

<ul>
    <li>Es gibt keinen Mindestbestellwert.</li>
    <li>Alle Preise in EUR und inkl. gesetzlicher Mehrwertsteuer von 19%.</li>
    <li>Die Lieferzeit beträgt i.d.R. 1 - 3 Tage. Eventuelle Ausnahmen entnehmen Sie bitte der jeweiligen Produktseite.</li>
    <li>Bei Lieferungen außerhalb der EU können zusätzlich Zölle und Gebühren anfallen.</li>
    <li>Bei Zahlungsart Nachnahme fallen zusätzlich 2,-- EUR Nachnahmegebühren an, die direkt an den Paketzusteller zu entrichten sind.</li>
</ul>