<h1>DISCLAIMER</h1>

<p>Die hier bereitgestellten Mustertexte sind ausdrücklich als 
<strong>MUSTER</strong> zu verstehen und müssen in jedem Fall durch 
eigene rechtssichere Texte unter CMS -> Statische Blöcke ersetzt 
werden. Weder symmetrics gmbh noch Trusted Shops tragen für die 
Richtigkeit und Vollständigkeit dieser Texte eine Verantwortung.</p>

<h2>Allgemeine Geschäftsbedingungen</h2>

<p>
<a href="#p1">§ 1 Geltungsbereich und Anbieter</a><br />
<a href="#p2">§ 2 Vertragsschluss</a><br />
<a href="#p3">§ 3 Preise</a><br />
<a href="#p4">§ 4 Versandkosten</a><br />
<a href="#p5">§ 5 Lieferbedingungen</a><br />
<a href="#p6">§ 6 Zahlungsbedingungen</a><br />
<a href="#p7">§ 7 Eigentumsvorbehalt</a><br />
<a href="#p8">§ 8 Widerrufsbelehrung</a><br />
<a href="#p9">§ 9 Transportschäden</a><br />
<a href="#p10">§ 10 Gewährleistung</a><br />
<a href="#p11">§ 11 Haftung</a><br />
<a href="#p12">§ 12 Schlussbestimmungen</a>
</p>

<h3>Häufige Fragen</h3>

<ol>
    <li><a href="#f1">Wie funktioniert das Warenkorbsystem?</a></li>
    <li><a href="#f2">Muss ich mich registrieren?</a></li>
    <li><a href="#f3">Wann wird meine Bestellung verbindlich?</a></li>
    <li><a href="#f4">Wird der Vertragstext gespeichert?</a></li>
</ol>


<h4><a name="p1">§ 1 Geltungsbereich und Anbieter</a></h4>
<p>Diese Allgemeinen Geschäftsbedingungen gelten für alle Bestellungen, die Privatpersonen über den Online-Shop der {{block type="symmetrics_impressum/impressum" value="company1"}}, {{block type="symmetrics_impressum/impressum" value="zip"}} {{block type="symmetrics_impressum/impressum" value="city"}}, Geschäftsführer: {{block type="symmetrics_impressum/impressum" value="ceo"}}</p>
<p>(nachfolgend "{{block type="symmetrics_impressum/impressum" value="shopname"}}") abgeben.</p>
<p><strong>Service-Hotline: Mo bis So 8 - 22 Uhr unter Telefon {{block type="symmetrics_impressum/impressum" value="telephone"}} E-Mail {{block type="symmetrics_impressum/impressum" value="email"}}</strong></p>

<h4><a name="p2">§ 2 Vertragsschluss</a></h4>
<p>§ 2.1 Die Produktdarstellungen im Online-Shop dienen zur Abgabe eines Kaufangebotes. Mit Anklicken des Buttons "Jetzt bestellen" geben Sie ein verbindliches Kaufangebot ab. Der Verkauf unserer Produkte erfolgt nur für den privaten Gebrauch in haushaltsüblichen Mengen.</p>
<p>§ 2.2 Wir können Ihre Bestellung durch Versand einer Auftragsbestätigung per E-Mail oder durch Auslieferung der Ware innerhalb von fünf Tagen annehmen. Die Bestätigung des Zugangs der Bestellung stellt noch keine Annahme des Kaufangebotes dar.</p>
<p>§ 2.3 Sollte unsere Auftragsbestätigung Schreib- oder Druckfehler enthalten oder sollten unserer Preisfestlegung technisch bedingte Übermittlungsfehler zu Grunde liegen, so sind wir zur Anfechtung berechtigt, wobei wir Ihnen unseren Irrtum beweisen müssen. Bereits erfolgte Zahlungen werden Ihnen unverzüglich erstattet.</p>

<h4><a name="p3">§ 3 Preise</a></h4>
<p>Die auf den Produktseiten genannten Preise enthalten die gesetzliche Mehrwertsteuer und sonstige Preisbestandteile und verstehen sich zzgl. Porto.</p>

<h4><a name="p4">§ 4 Versandkosten</a></h4>
<p>§ 4.1 Für die Lieferung innerhalb Deutschlands berechnen wir pauschal 5,-- EUR pro Bestellung.</p>
<p>§ 4.2 Bei Zahlung per Nachnahme wird eine zusätzliche Gebühr in Höhe von 2 EUR fällig, die der Zusteller vor Ort erhebt. Weitere Steuern oder Kosten fallen nicht an.</p>

<h4><a name="p5">§ 5 Lieferbedingungen und Selbstbelieferungsvorbehalt</a></h4>
<p>§ 5.1 Die Lieferung erfolgt per UPS.</p>
<p>§ 5.2 Die Lieferzeit beträgt, sofern nicht beim Angebot anders angegeben, ca. 1-3 Tage.</p>
<p>§ 5.3 Sollten nicht alle bestellten Produkte vorrätig sein, sind wir zu Teillieferungen auf unsere Kosten berechtigt, soweit dies für Sie zumutbar ist.</p>
<p>§ 5.4 Sollte die Zustellung der Ware trotz dreimaligem Auslieferversuchs scheitern, können wir vom Vertrag zurücktreten. Ggf. geleistete Zahlungen werden Ihnen unverzüglich erstattet.</p>
<p>§ 5.5 Wenn das bestellte Produkt nicht verfügbar ist, weil wir mit diesem Produkt von unseren Lieferanten ohne eigenes Verschulden nicht beliefert werden, können wir vom Vertrag zurücktreten. In diesem Fall werden wir Sie unverzüglich informieren und Ihnen ggf. die Lieferung eines vergleichbaren Produktes vorschlagen. Wenn kein vergleichbares Produkt verfügbar ist oder Sie keine Lieferung eines vergleichbaren Produktes wünschen, werden wir Ihnen ggf. bereits erbrachte Gegenleistungen unverzüglich erstatten.</p>

<h4><a name="p6">§ 6 Zahlungsbedingungen</a></h4>
<p>§ 6.1 Die Zahlung erfolgt wahlweise per Vorkasse, Nachnahme, Kreditkarte oder Lastschrift.</p>
<p>§ 6.2 Bei Auswahl der Zahlungsart Vorkasse nennen wir Ihnen unsere Bankverbindung in der Auftragsbestätigung. Der Rechnungsbetrag ist binnen 10 Tagen auf unser Konto zu überweisen. Bei Zahlung per Kreditkarte erfolgt die Belastung Ihres Kontos mit Versand der Ware.</p>
<p>§ 6.3 Kommen Sie in Zahlungsverzug, so ist der Kaufpreis während des Verzuges in Höhe von 5% über dem Basiszinssatz zu verzinsen. Wir behalten uns vor, einen höheren Verzugsschaden nachzuweisen und geltend zu machen.</p>
<p>§ 6.4 Bei Zahlung per Lastschrift haben Sie ggf. jene Kosten zu tragen, die infolge einer Rückbuchung einer Zahlungstransaktion mangels Kontodeckung oder aufgrund von Ihnen falsch übermittelter Daten der Bankverbindung entstehen.</p>
<p>§ 6.5 Ein Recht zur Aufrechnung steht Ihnen nur dann zu, wenn Ihre Gegenansprüche rechtskräftig gerichtlich festgestellt oder unbestritten sind oder schriftlich durch uns anerkannt wurden. </p>
<p>§ 6.6  Sie können ein Zurückbehaltungsrecht nur ausüben, soweit die Ansprüche aus dem gleichen Vertragsverhältnis resultieren.</p>

<h4><a name="p7">§ 7 Eigentumsvorbehalt</a></h4>
<p>Die Ware bleibt bis zur vollständigen Zahlung unser Eigentum. Vor Übergang des Eigentums ist eine Verpfändung, Sicherungsübereignung, Verarbeitung oder Umgestaltung ohne unsere Zustimmung nicht gestattet.</p>

<h4><a name="p8">§ 8 Widerrufsrecht</a></h4>
<p>§ 8.1 Verbraucher haben ein zweiwöchiges Widerrufsrecht.</p>

{{block type="cms/block" block_id="sym_widerruf"}}

<p>§ 8.2 Das Widerrufsrecht besteht nicht bei Lieferung von Waren, die nach Kundenspezifikation angefertigt werden (z.B. T-Shirts mit Ihrem Foto und Ihrem Namen) oder eindeutig auf die persönlichen Bedürfnisse zugeschnitten sind oder bei Lieferung von Audio- oder Videoaufzeichnungen oder von Software, sofern die gelieferten Datenträger von Ihnen entsiegelt worden sind (z.B. Software-CDs, bei denen die Cellophanhülle geöffnet wurde).</p>
<p>§ 8.3 Bitte vermeiden Sie Beschädigungen und Verunreinigungen. Senden Sie die Ware bitte möglichst in Originalverpackung mit sämtlichem Zubehör und mit allen Verpackungsbestandteilen an uns zurück. Verwenden Sie ggf. eine schützende Umverpackung. Wenn Sie die Originalverpackung nicht mehr besitzen, sorgen Sie bitte mit einer geeigneten Verpackung für einen ausreichenden Schutz vor Transportschäden, um Schadensersatzansprüche wegen Beschädigungen infolge mangelhafter Verpackung zu vermeiden.</p>
<p>§ 8.4 Senden Sie die Ware bitte als versichertes Paket an uns zurück und bewahren Sie den Einlieferbeleg auf. Wir erstatten Ihnen auch gern auf Wunsch vorab die Portokosten, sofern diese nicht von Ihnen selbst zu tragen sind.</p>
<p>§ 8.5 Bitte rufen Sie vor Rücksendung unter der {{block type="symmetrics_impressum/impressum" value="telephone"}} bei uns an, um die Rücksendung anzukündigen. Auf diese Weise ermöglichen Sie uns eine schnellstmögliche Zuordnung der Produkte.</p>
<p>§ 8.6 Bitte beachten Sie, dass die in den Paragrafen 8.3 bis 8.5 genannten Modalitäten nicht Voraussetzung für die wirksame Ausübung des Widerrufsrechts sind.</p>

<h4>8a. Rücksendekosten bei Ausübung des Widerrufsrechtes</h4>
<p>Machen Sie von Ihrem gesetzlichen Widerrufsrecht Gebrauch (siehe Widerrufsbelehrung), haben Sie die regelmäßigen Kosten der Rücksendung zu tragen, wenn die gelieferte Ware der bestellten entspricht und wenn der Preis der zurückzusendenden Sache einen Betrag von 40 Euro nicht übersteigt oder wenn Sie bei einem höheren Preis der Sache zum Zeitpunkt des Widerrufs noch nicht die Gegenleistung oder eine vertraglich vereinbarte Teilzahlung erbracht haben. Anderenfalls ist die Rücksendung für Sie kostenfrei.</p>

<h4><a name="p9">§ 9 Transportschäden</a></h4>
<p>§ 9.1 Werden Waren mit offensichtlichen Transportschäden angeliefert, so reklamieren Sie solche Fehler bitte sofort bei dem Zusteller, und nehmen Sie bitte schnellstmöglich Kontakt zu uns auf unter {{block type="symmetrics_impressum/impressum" value="telephone"}}.</p>
<p>§ 9.2 Die Versäumung einer Reklamation oder Kontaktaufnahme hat für Ihre gesetzlichen Gewährleistungsrechte keinerlei Konsequenzen. Sie helfen uns aber, unsere eigenen Ansprüche gegenüber dem Frachtführer bzw. der Transportversicherung geltend machen zu können.</p>

<h4><a name="p10">§ 10 Gewährleistung</a></h4>
<p><strong>Die Gewährleistung erfolgt nach den gesetzlichen Bestimmungen.</strong></p>

<h4><a name="p11">§ 11 Haftung</a></h4>
<p>Wir schließen unsere Haftung für leicht fahrlässige Pflichtverletzungen aus, sofern diese keine vertragswesentlichen Pflichten, Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit oder Garantien betreffen oder Ansprüche nach dem Produkthaftungsgesetz berührt sind. Gleiches gilt für Pflichtverletzungen unserer Erfüllungsgehilfen.</p>

<h4><a name="p12">§ 12 Schlussbestimmungen</a></h4>
<p>§ 12.1 Sollte eine Bestimmung dieser Allgemeinen Geschäftsbedingungen unwirksam sein, so bleibt der Vertrag im Übrigen wirksam. Anstelle der unwirksamen Bestimmung gelten die einschlägigen gesetzlichen Vorschriften.</p>
<p>§ 12.2 Es gilt deutsches Recht.</p>

<h2>Häufige Fragen</h2>

<h3><a name="f1">Wie funktioniert das Warenkorbsystem?</a></h3>
<p><a href="{{store url=""}}bestellung">Hier</a> erhalten Sie Informationen zum Ablauf einer Bestellung.</p>

<h3><a name="f2">Muss ich mich registrieren?</a></h3>
<p>Nach Auswahl der Produkte werden Sie gebeten, Ihre Daten einzugeben. Die Pflichtangaben sind mit einem * gekennzeichnet. Sie können optional ein Kundenkonto eröffnen und bei künftigen Bestellungen nach Eingabe von Benutzernamen und Passwort bestellen, ohne Ihre Adressdaten noch einmal eingeben zu müssen.</p>

<h3><a name="f3">Wann wird meine Bestellung verbindlich?</a></h3>
<p>Nach Auswahl der Produkte werden Sie gebeten, Ihre Daten einzugeben. Die Pflichtangaben sind mit einem * gekennzeichnet. Sie können optional ein Kundenkonto eröffnen und bei künftigen Bestellungen nach Eingabe von Benutzernamen und Passwort bestellen, ohne Ihre Adressdaten noch einmal eingeben zu müssen.</p>

<h3><a name="f4">Wird der Vertragstext gespeichert?</a></h3>
<p>Wir speichern den Vertragstext. Die Bestelldaten und die AGB werden Ihnen per E-Mail zugesendet. Ihre vergangenen Bestellungen können Sie auch unter <a href="{{store url=""}}customer/account">Mein Benutzerkonto</a> einsehen. Die AGB können Sie <a href="{{store url=""}}agb">hier</a> einsehen, ausdrucken und speichern. </p>