<h1>DISCLAIMER</h1>

<p>Die hier bereitgestellten Mustertexte sind ausdrücklich als 
<strong>MUSTER</strong> zu verstehen und müssen in jedem Fall durch 
eigene rechtssichere Texte unter CMS -> Statische Blöcke ersetzt 
werden. Weder symmetrics gmbh noch Trusted Shops tragen für die 
Richtigkeit und Vollständigkeit dieser Texte eine Verantwortung.</p>

<h2>Datenschutzerklärung</h2>

<p>Wir freuen uns über Ihr Interesse an unserer Website. Der Schutz Ihrer Privatsphäre ist für uns sehr wichtig. Nachstehend informieren wir Sie ausführlich über den Umgang mit Ihren Daten.</p>

<h3>Erhebung, Verarbeitung und Nutzung personenbezogener Daten</h3>

<p>Sie können unsere Seite besuchen, ohne Angaben zu Ihrer Person zu machen. Wir speichern lediglich Zugriffsdaten ohne Personenbezug wie z.B. den Namen Ihres Internet Service Providers, die Seite, von der aus Sie uns besuchen oder den Namen der angeforderten Datei. Diese Daten werden ausschließlich zur Verbesserung unseres Angebotes ausgewertet und erlauben keinen Rückschluss auf Ihre Person.</p>
<p>Personenbezogene Daten werden nur erhoben, wenn Sie uns diese im Rahmen Ihrer Warenbestellung oder bei Eröffnung eines Kundenkontos oder Registrierung für unseren Newsletter freiwillig mitteilen. Wir verwenden die von ihnen mitgeteilten Daten ohne Ihre gesonderte Einwilligung ausschließlich zur Erfüllung und Abwicklung Ihrer Bestellung. Mit vollständiger Abwicklung des Vertrages und vollständiger Kaufpreiszahlung werden Ihre Daten für die weitere Verwendung gesperrt und nach Ablauf der steuer- und handelsrechtlichen Vorschriften gelöscht, sofern Sie nicht ausdrücklich in die weitere Nutzung Ihrer Daten eingewilligt haben. Bei Anmeldung zum Newsletter wird Ihre E-Mail-Adresse mit Ihrer Einwilligung für eigene Werbezwecke genutzt, bis Sie sich vom Newsletter abmelden. Die Abmeldung ist jederzeit möglich.</p>

<h3>Verwendung von Cookies</h3>

<p>Auf verschiedenen Seiten verwenden wir Cookies, um den Besuch unserer Website attraktiv zu gestalten und die Nutzung bestimmter Funktionen zu ermöglichen. Hierbei handelt es sich um kleine Textdateien, die auf Ihrem Rechner abgelegt werden. Die meisten der von uns verwendeten Cookies werden nach Ende der Browser-Sitzung wieder von Ihrer Festplatte gelöscht (sog. Sitzungs-Cookies). Andere Cookies verbleiben auf Ihrem Rechner und ermöglichen uns, Ihren Rechner bei Ihrem nächsten Besuch wieder zu erkennen (sog. dauerhafte Cookies).Diese Cookies dienen der Begrüßung mit Ihrem Benutzernamen und erübrigen Ihnen bei Folgebestellungen die erneute Eingabe Ihres Passwortes oder das Ausfüllen von Formularen mit Ihren Daten. Unseren Partnerunternehmen ist es nicht gestattet, über unsere Website personenbezogene Daten mittels Cookies zu erheben, zu verarbeiten oder zu nutzen.</p>

<h3>Weitergabe personenbezogener Daten</h3>

<p>Eine Weitergabe Ihrer Daten erfolgt an das mit der Lieferung beauftragte Versandunternehmen, soweit dies zur Lieferung der Waren notwendig ist. Zur Abwicklung von Zahlungen geben wir Ihre Zahlungsdaten an das mit der Zahlung beauftragte Kreditinstitut weiter.</p>

<h3>Bonitätsprüfung</h3>

<p>Sofern wir in Vorleistung treten, holen wir zur Wahrung unserer berechtigten Interessen ggf. eine Bonitätsauskunft auf der Basis mathematisch-statistischer Verfahren bei der SCHUFA Holding AG, Kormoranweg 5, 65201 Wiesbaden ein. Ihre schutzwürdigen Belange werden gemäß der gesetzlichen Bestimmungen berücksichtigt.</p>
<p>Eine Weitergabe an sonstige Dritte erfolgt nicht.</p>

<h3>Auskunftsrecht</h3>

<p>Nach dem Bundesdatenschutzgesetz haben Sie ein Recht auf unentgeltliche Auskunft über Ihre gespeicherten Daten sowie ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.</p>

<h3>Ansprechpartner für Datenschutz</h3>

<p>Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten, bei Auskünften, Berichtigung, Sperrung oder Löschung von Daten sowie Widerruf erteilter Einwilligungen wenden Sie sich bitte per E-Mail an: {{block type="symmetrics_impressum/impressum" value="email_href"}}</p>

<h3>Datensicherheit</h3>

<p>Ihre personenbezogenen Daten werden im Bestellprozess verschlüsselt über das Internet übertragen. Wir sichern unsere Website und sonstigen Systeme durch technische und organisatorische Maßnahmen gegen Verlust, Zerstörung, Zugriff, Veränderung oder Verbreitung Ihrer Daten durch unbefugte Personen. Der Zugang zu Ihrem Kundenkonto ist nur nach Eingabe Ihres persönlichen Passwortes möglich. Sie sollten Ihre Zugangsinformationen stets vertraulich behandeln und das Browserfenster schließen, wenn Sie die Kommunikation mit uns beendet haben, insbesondere wenn Sie den Computer gemeinsam mit anderen nutzen.</p>